.wrapper-container{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    text-align: center;
}

.offcanvas{
    width: 15rem !important;
}

.offcanvas-header{
    border-bottom-width: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.offcanvas-title{
    font-style: italic;
    cursor: default;
    transition: 0.5s;
}

:hover.offcanvas-title{
    color:cornflowerblue;
}

.bordered{
    padding: 1rem;
    border: 2px solid rgb(209 213 219);
    border-radius: 14px;
}

div.container.guest{
    border-bottom: 2px solid rgb(229 231 235);
    border-radius: 80%;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.logout{
    color:cornflowerblue !important;
    font-weight: 500;
    transition: 0.5s !important;
}

:hover.logout{
    color: rgb(36, 102, 224) !important;
}

.nav-link > a{
    color:cornflowerblue;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}

:hover.nav-link > a{
    color: rgb(36, 102, 224);
}

.btn-purple{
    background-color: cornflowerblue !important;
    color: aliceblue !important;
    transition: 1.5s;
}

:hover.btn-purple{
    background-color: rgb(36, 102, 224) !important;
}

.btn-outline-purple{
    border: 1px solid cornflowerblue !important;
    color: cornflowerblue !important;
    transition: 1.5s;
}

:hover.btn-outline-purple{
    color: rgb(36, 102, 224) !important;
    border-color: rgb(36, 102, 224) !important;
}
         
.btn-gradient {
    background-image: conic-gradient(at 0% 0%, rgb(100, 149, 237), rgb(240, 248, 255));
    color: white !important;
}

:hover.btn-gradient{
    background: white;
    color: #6495ED !important;
}
 
.border-purple{
    border: 1px solid cornflowerblue !important;
}

#basic-navbar-nav > hr {
    display: none;
}

.dropdown-toggle::after{
    content: none !important;
}

.dropdown-menu {
    min-width: 15rem !important;
}